.Jim {
  display: inline;
  justify-content: center;
  position: absolute;
  right: 750px;
  top: 350px;
  align-items: center;
  width: 7%;
  border-radius: 15px;
  background: linear-gradient(to top, #ccc, #ddd);
  color: orange;
  padding: 15px 20px;
  height: 4vh;
  text-decoration: none;
  font-family: sans-serif;
  border: 2px solid gray;
  box-shadow: 0 0 0px 6px #ddd, 0 0 0 7px white, 0 0 0 8px gray;
}